@define-color highlight rgba(204, 51, 255, 1);
@define-color background rgba(27, 24, 27, 0.2);
@define-color foreground #cdd6f4;
@define-color fg-active #dde6ff;
@define-color error rgba(227, 81, 73, 1);
@define-color dark9 rgba(27, 24, 27, 1);
@define-color dark8 rgba(42, 39, 42, 1);
@define-color dark7 rgba(70, 63, 70, 1);
@define-color darK6 rgba(91, 82, 91, 1);
@define-color dark5 rgba(122, 113, 113, 1);
@define-color color1 rgba(122, 113, 113, 1);
@define-color color2 rgba(122, 113, 113, 1);
@define-color color3 rgba(122, 113, 113, 1);
@define-color color4 rgba(122, 113, 113, 1);
@define-color coLor5 rgba(122, 113, 113, 1);
@define-color color6 rgba(122, 113, 113, 1);
@define-color color-cpu rgba(113, 113, 150, 1);
@define-color color-memory rgba(113, 150, 113, 1);
@define-color color-bluetooth rgba(60, 113, 113, 1);

/* 全体共通スタイル */
* {
    font-family: Bizin Gothic NF, JetBrainsMono Nerd Font Propo;
    font-size: 13px;
    min-height: 0;
    margin: 1px 0;
    color: alpha(@foreground, 0.9);
}

/* Waybar 背景 */
window#waybar {
    background: transparent;
}

/* グループのスタイル設定 */
#system,
#connections,
#resources,
#audio,
#media {
    border-radius: 10px;
    /* border: 1px solid rgba(150, 113, 150, 0.7); */
    margin: 0px 3px;
    padding: 1px 3px;
    background-color: alpha(@highlight, 0.25);
}

#audio,
#media {
    padding: 0px 8px;
}

/* モジュール共通スタイル */
#workspaces,
#audio,
#cpu,
#memory,
#temperature,
#network,
#bluetooth,
#custom-power,
#clock,
#tray {
    margin: 0 4px;
    /* color: alpha(@foreground, 0.9); */
}

/* モジュール共通スタイル(ホバー時) */
#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#bluetooth:hover,
#custom-power:hover,
#custom-media-play:hover,
#custom-media-previous:hover,
#custom-media-next:hover,
#clock:hover,
#battery:hover,
#tray:hover {
    font-weight: 700;
    /* margin: 0 5px; */
    color: @fg-active;
    background-color: alpha(@highlight, 0.3);
    border-radius: 10px;
}

#pulseaudio-slider:hover {
    border-color: @fg-active;
    background-color: alpha(@highlight, 0.3);
    border-radius: 5px;
}

/* ちょっとだけホバーアニメーション */
#workspaces button,
#pulseaudio-slider,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#bluetooth,
#clock {
    /* transition: all 0.5s ease-out; */
    transition: all 180ms ease-in-out;
}

/* ワークスペース */
#workspaces button {
    padding: 0px 4px;
    margin: 0px;
    border: none;
    border-radius: 10px;
    background: transparent;
    color: alpha(@foreground, 0.8);
}

#workspaces button.active,
#workspaces button.focused {
    font-weight: 700;
    background: alpha(@highlight, 0.8);
    color: @foreground;
}

#workspaces button:hover {
    background: alpha(@highlight, 0.6);
    box-shadow: none;
}

/* オーディオ */
#pulseaudio {
    padding: 0;
}

#pulseaudio-slider {
    min-height: 0;
    padding: 0;
}

#pulseaudio-slider slider {
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    /* border-color: @background; */
}

#pulseaudio-slider trough {
    min-height: 5px;
    min-width: 80px;
    border-radius: 5px;
    border: none;
    /* border-color: #606570; */
    background: alpha(@foreground , 0.4);
}

#pulseaudio-slider highlight {
    min-width: 0px;
    border: none;
    border-radius: 5px;
    /* background: alpha(@highlight, 1); */
    background: alpha(@foreground, 0.9);
}


/* 各モジュールの個別設定 */
/* #cpu { */
/*     color: alpha(@foreground, 0.9); */
/* } */

/* #memory { */
/*     color: alpha(@foreground, 0.9); */
/* } */

/* #network { */
/*     color: alpha(@foreground, 0.9); */
/* } */

/* #pulseaudio { */
/*     color: alpha(@foreground, 0.9); */
/* } */

/* #bluetooth { */
/*     color: alpha(@foreground, 0.9); */
/* } */

/* #clock { */
/*     color: alpha(@foreground, 0.9); */
/* } */

/* #custom-power { */
/*     color: alpha(@foreground, 0.9); */
/* } */

/* Tray icons */
#tray {
    padding: 0 4px;
}
